body {
  text-align: center;
  background-color: #999b84;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 2.5rem;
  margin:  5%;
  color: #eeebdd;
}

.container {
  display: block;
  width: 50%;
  margin: auto;

}

.btn {
  margin: 25px;
  display: inline-block;
  height: 150px;
  width: 150px;
  border: 8px solid black;
  border-radius: 20%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: #be0000;
}

.green {
  background-color: #387c6d;
}

.blue {
  background-color: #301b3f;
}

.yellow {
  background-color: #ffb037;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}
